<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="../cargoSM/table.css">
    <link rel="stylesheet" href="../cargoSM/cargo.css">
    <title>Index</title>
</head>
<body>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body ">
                <form action="" id="addItemForm">
                    <div class="form-group">
                        <label for="itemName">Item</label>
                        <select name="" id="itemName" class="form-control">
                            <option value="None" selected>Choose One...</option>
                            <option value="MgO">MgO</option>
                            <option value="HCl">HCl</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="itemUnit">Unit</label>
                        <input type="text" class="form-control" id="itemUnit" readonly value="100g">
                    </div> 
                    <div class="form-group">
                        <label for="itemPrice">Unit Price</label>
                        <input type=number class="form-control" id="itemPrice" readonly value="20">
                    </div>
                    <div class="form-group">
                        <label for="itemAmount">Amount</label>
                        <input type="number" class="form-control" id="itemAmount">
                    </div>
                    <div class="form-group">
                        <label for="totalPrice">Total Price</label>
                        <input type="number" class="form-control" id="totalPrice" readonly>
                    </div>
                    <div class="form-group">
                        <label for="buyer">Buyer</label>
                        <input type="number" class="form-control" id="buyer">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">倉儲貨物及客戶管理系統</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" href="#">Cargo Management System <span class="sr-only">(current)</span></a>
              <a class="nav-link" href="#">Customers Management System</a>
            </div>
         </div>
    </nav>
    <div id="content">
        <h3>Order Management System</h3>
        <!-- <div class="functions">
            <div id="add">
                <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                    <img src="../cargoSM/plus.png" alt="" width=30 id="addimg">
                </button>

            </div>
        </div> -->
        <div class="dropdown-divider"></div>
        <table id="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Bill</th>
                    <th>Checkout</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr1 num">
                    <th><input type="text" class="item" name="" id="" value="Eugene" readonly></th>
                    <th><input type="text" class="item" name="" id="" value="0975134087" readonly></th>
                    <th><input type="text" class="item" name="" id="" value="1250" readonly></th>
                    <th><input type="checkbox" class="item" name="" id="" value="false" readonly></th>
                    <th><img src="./down-arrow.png" alt="" class="span up" width="20" height="20"></th>
                </tr>
                <tr class="tr1 detail">
                    <td colspan="5">
                        <div class="insideDiv">
                            <table>
                                <thead>
                                    <th>Item</th>
                                    <th>Unit</th>
                                    <th>Price</th>
                                    <th>Amount</th>
                                    <th>Total Price</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>MgO</th>
                                        <th>100g</th>
                                        <th>20</th>
                                        <th>10</th>
                                        <th>200</th>
                                    </tr>
                                    <tr>
                                        <th>HCl</th>
                                        <th>100ml</th>
                                        <th>35</th>
                                        <th>30</th>
                                        <th>1050</th>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table> 
    </div>
</body>
    <script src="../jquery/jquery-3.4.1.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./index.js"></script>
</html>